.latencyBox {
  background-color: rgba(255, 255, 255, .05);
  border-radius: 5px;
  color: #FFF;
  min-height: 150px;
  min-width: 150px;
  padding: 2em 1em 2em 1em;
  text-align: center;
}

.latency {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 1em;
}

.latencyChart {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .05);
  border-top: solid 15px #FA6B5B;
}

.latencyMin {
  border-top: solid 15px #28D8B2;
}

.latencyMax {
  border-top: solid 15px #7560A5;
}

.latencyAvg {
  border-top: solid 15px #EDC54B;
}

.latencyStdDev {
  border-top: solid 15px #57A6E1;
}
