<form (ngSubmit)="onSubmit()">
  <h4>Enter Server IP Address, Port Number, & Type:</h4>

 <div class = "form-group">
    <label for= "ip"> IP Address</label>
    <input type = "text" [(ngModel)]="model.ip" name="ip" class = "form-control" required placeholder="IP Address">
  </div>
  <div class= "form-group">
    <label for= "port"> Port</label>
    <input type = "text" [(ngModel)]="model.port" name="port" class = "form-control" required placeholder="Port">
  </div>
  <div class= "form-group">
    <label for= "application_type"> Application Type </label>
    <select class="form-control" (ngModelChange)="onChange($event)" [ngModel]="model.application_type" name="application_type" required>
        <option  *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </div>

  <div class = "form-group">
    <label for= "ip"> IP Address</label>
    <input type = "text" [(ngModel)]="model2.ip" name="ip" class = "form-control" required placeholder="IP Address">
  </div>
  <div class= "form-group">
    <label for= "port"> Port</label>
    <input type = "text" [(ngModel)]="model2.port" name="port" class = "form-control" required placeholder="Port">
  </div>
  <div class= "form-group">
    <label for= "application_type"> Type </label>
    <select class="form-control" (ngModelChange)="onChange2($event)" [ngModel]="model2.application_type" name="application_type" required>
        <option  *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </div>

  <div class= "form-group">
    <label for= "NumReqs"> Number of Requests</label>
    <input type = "text" [(ngModel)]="numReqModel.numReq" name="numReq" class = "form-control" required placeholder="Number of Requests">
  </div>
  <button (click)="onSubmit()" class="btn btn-default"> Submit </button>
<form>
