<form (ngSubmit)="onSubmit()">
  <h4>Enter Server IP Address, Port Number, & Type:</h4>
  <!-- <form-item></form-item> -->
  <li *ngFor="let server of servers">
    <form-item></form-item>
  </li>
  <div class= "form-group">
    <label for= "NumReqs"> Number of Requests</label>
    <input type = "text" [(ngModel)]="numReqModel.numReq" name="numReq" class = "form-control" required placeholder="Number of Requests">
  </div>
  <button type= "submit" class="btn btn-default"> Submit </button>
<form>

<a routerLink="/graphs">Graphs</a>
