.cpu {
  background-color: rgba(87,166,225,.2);
  border: solid 3px #57A6E1;
}

.ip {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.memory {
  background-color: rgba(250,107,91,.2);
  border: solid 3px #FA6B5B;
}

.serverhealth-box {
  background-color: rgba(255, 255, 255, .05);
  border-radius: 3px;
  min-width: 200px;
  padding: .5em 2em 1em 0;
  text-align: center;
}

.server-stats {
  border-radius: 3px;
  font-size: 2em;
  font-weight: 600;
  margin-top: 5px;
  min-height: 100px;
  max-height: 120px;
  padding: 5px 0 5px 0;
  text-align: center;
}
