table {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 500;
  border: 1px solid #FFF;
  width: 70%;
}

th {
  background-color: orange;
}

tr, td {
  padding: 1em;
}

.requestBox {
  color: #FFF;
  font-size: 3em;
  font-weight: 600;
  height: 200px;
  margin: .5em;
  text-align: center;
  padding-top: 60px;
  width: 200px;
}

.success-rate {
  background-color: #EDC54B;
}

.total-requests {
  background-color: #57A6E1;
}
