<!-- <div class="container">
  <span class = "form-group">
    <label for= "ip"> IP Address</label>
    <input type = "text" [(ngModel)]="model.ip" name="ip" class = "form-control" required placeholder="IP Address">
  </span>
  <span class= "form-group">
    <label for= "port"> Port</label>
    <input type = "text" [(ngModel)]="model.port" name="port" class = "form-control" required placeholder="Port">
  </span>
  <span class= "form-group">
    <label for= "type"> Type </label>
    <select class="form-control" (ngModelChange)="onChange($event)" [ngModel]="model.type" name="type" required>
        <option  *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </span>
</div> -->


<div class="row">
  <div class="input-field col s4">
    <input name="ip" type="text" class="validate" [(ngModel)]="model.ip">
    <label for="ip">IP Address</label>
  </div>
  <div class="input-field col s4">
    <input name="port" type="text" class="validate" [(ngModel)]="model.port">
    <label for="port">Port</label>
  </div>
  <div class="input-field col s4">
    <input name="type" type="text" class="validate" [(ngModel)]="model.type">
    <label for="type">Application Type</label>
  </div>

</div>
