<div>
  <h5>Summary of Results</h5>
  <div class="row request-data-box z-depth-3">
    <div class="col s3">
      <div class="requestBox total-requests z-depth-1">
        <h3 class="number-focus">{{totalReqs}}</h3>
        <h5>Total Requests</h5>
      </div>
    </div>
    <div class="col s3">
      <div class="requestBox success-rate z-depth-1">
        <h3 class="number-focus">{{successRate}} %</h3>
        <h5>Success Rate</h5>
      </div>
    </div>
    <div class="col s6 z-depth-1 status-code-chart">
      <statusCodeBar [requestData]="requestData"></statusCodeBar>
    </div>
  </div>
</div>
