<div>
  <h4>Response Status Data</h4>
  <div class="row request-data-box z-depth-3">
    <div class="col s3">
      <div class="requestBox total-requests z-depth-1">
        <div class="circle-blue center">
          <h3 class="number-focus">{{totalReqs}}</h3>
        </div>
        <p>Total Requests</p>
        <span class="small">15 Concurrent Users x # of Requests</span>
      </div>
    </div>
    <div class="col s3">
      <div class="requestBox success-rate z-depth-1">
        <div class="circle-yellow center">
          <h3 class="number-focus">{{successRate}}</h3>
        </div>
        <p>% Success Rate</p>
      </div>
    </div>
    <div class="col s6 z-depth-1 status-code-chart">
      <statusCodeBar [requestData]="requestData"></statusCodeBar>
    </div>
  </div>
</div>
