.requestBox {
  background-color: rgba(255, 255, 255, .05);
  border-radius: 3px;
  color: #FFF;
  height: 200px;
  min-height: 240px;
  min-width: 150px;
  text-align: center;
  padding-top: 30px;
  vertical-align: middle;
}

.request-data-box {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  padding: 2em 1em 2em 1em;
}
.status-code-chart {
  background-color: rgba(255, 255, 255, .05);
  border-radius: 3px;
  border-top: solid 15px #7560A5;
  min-height: 200;
}

.success-rate {
  border-top: solid 15px #EDC54B;
}

.total-requests {
  border-top: solid 15px #57A6E1;
}
