<header>
  <div class="row main-nav">
    <div class="col s6">
      <span class="main-logo number-focus">UnLoadX</span>
      <img src="https://cdn4.iconfinder.com/data/icons/orb/128/7.png"/>
    </div>
    <div class="col s6 button-nav">
      <a routerLink="/"><button class="btn waves-effect waves-light orange button-style">New Test</button></a>

      <button class="btn waves-effect waves-light orange button-style" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn waves-effect waves-light orange button-style" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
  <a routerLink="/graphs">Graphs</a>
</main>
